.content-body {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 0px 10px 10px 10px;
    background-color: black;
    border-radius: 30px;
    border: 1.5px solid #c0c0c0;
}

h1, h2, h3, h4, h5, h6{
    font-family: Cinzel;
    font-weight: bold;
    text-shadow: .5px .5px .5px #c0c0c0, -.5px -.5px 0px #e4e1e1;
    text-decoration: underline;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12px;
}

p {
    font-family: Libre;
    font-size: 12px;
}

a {
    color:#c0c0c0;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre';
    src: url('../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Medieval';
    src: url('../assets/fonts/MedievalSharp/MedievalSharp-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Uncial';
    src: url('../assets/fonts/Uncial_Antiqua/UncialAntiqua-Regular.ttf') format('truetype');
}