/* Basic styling for the navbar, menu, and hamburger button */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg,#2e4b71, #1B2D4F, black);
    color: white;
    font-family: 'Itim';
    font-weight: 'bold';
    text-shadow: 1px 1px 1px #c0c0c0, -1px -1px 0px #c0c0c0;
    border-radius: 100px;
    border: 1.5px solid #c0c0c0;
}

.navbar-brand {
    font-size: 25px;
    font-family: 'Cinzel';
    font-weight: bold;
}

.navbar-menu {
    display: none;
    list-style: none;
    gap: 20px;
}

.navbar-menu li a {
    color: #2066a0;
    text-decoration: none;
    font-family: 'Uncial';
    font-weight: 'bold';
    text-shadow: .5px .5px .5px #c0c0c0, -.5px -.5px 0px #e4e1e1;

}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 15px;
    justify-content: space-between;
    padding-left: 15px;
}

.hamburger img {
    display: block;
    transform: rotate(270deg); /* Default rotation */
    transition: all 0.4s ease; /* Smooth rotation effect */
    margin: -13px; /* Remove margin between images */
    width: 13px; /* Make images fill the width of the container */
}

.hamburger img:nth-child(2){
    transform:rotate(90deg);
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}

/* Animation for 'X' shape */
.hamburger.active img:nth-child(1) {
    transform: rotate(45deg) translate(14px, 12px);
}

.hamburger.active img:nth-child(2) {
    opacity: 0;
}

.hamburger.active img:nth-child(3) {
    transform: rotate(-45deg) translate(14px, -12px);
}

/* Mobile menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: black;
    border-radius:30px;
    border: 1.5px solid #c0c0c0;
    position: absolute;
    top: 90px;
    width: 98%;
    z-index: 1000;
}

.mobile-menu a {
    padding: 15px 20px;
    border-radius:30px;
    color: #c0c0c0;
    text-decoration: none;
    font-family: 'Cinzel';
    font-weight: 'bold';
    text-shadow: .5px .5px .5px white, -.5px -.5px 0px white;
}

.mobile-menu a:hover {
    background: linear-gradient(45deg,#2e4b71, #1B2D4F, black);
    font-weight: 'bolder';
    -webkit-tap-highlight-color: transparent; /* For Safari */
    outline: none; /* For Chrome, Firefox, and others */
}

.mobile-menu.active {
    display: flex;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
}

.title {
    font-family: "Itim";
    font-weight: 'bold';
}

.hamburger {
    -webkit-tap-highlight-color: transparent; /* For Safari */
    outline: none; /* For Chrome, Firefox, and others */
}

.hamburger:focus,
.hamburger:active {
    outline: none;
    box-shadow: none; /* Removes any potential shadow effect */
}

.icon {
    height:50px;
    border: 1px solid #c0c0c0;
    border-radius: 100px;
}