/* Basic styling for the navbar, menu, and hamburger button */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-family: 'Itim';
    font-weight: 'bold';
}

.navbar-brand {
    font-size: 1.5em;
    font-family: 'Itim';
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-family: 'Itim';
    font-weight: 'bold';
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 5px;
    height: 30px;
    justify-content: space-between;
}

.hamburger img {
    display: block;
    transform: rotate(270deg); /* Default rotation */
    transition: all 0.3s ease; /* Smooth rotation effect */
    margin: -10px; /* Remove margin between images */
    height: 100%; /* Set fixed height for icons if needed */
    width: 10px; /* Make images fill the width of the container */
}

.hamburger img:nth-child(2){
    transform:rotate(90deg);
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}

/* Animation for 'X' shape */
.hamburger.active img:nth-child(1) {
    transform: rotate(45deg) translate(8px, 4px);
}

.hamburger.active img:nth-child(2) {
    opacity: 0;
}

.hamburger.active img:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

/* Mobile menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    width: 100%;
}

.mobile-menu a {
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Itim';
    font-weight: 'bold';
}

.mobile-menu a:hover {
    background-color: #555;
    font-weight: 'bolder';
}

.mobile-menu.active {
    display: flex;
}

@font-face {
    font-family: 'Itim';
    src: url('../assets/fonts/MedievalSharp/MedievalSharp-Regular.ttf') format('truetype');
  }

.title {
    font-family: "Itim";
    font-weight: 'bold';
}